.deposit-eth-container {
  border-top: 1px solid white;
  padding-top: 20px;
  margin-top: 20px;
}

.contribute-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.contribute-amount {
  background-color: transparent;
  border: none;
  font-size: 1.3rem;
  color: var(--text-color);
  border-bottom: 1px solid var(--text-color);
  padding-bottom: 10px;
  margin-right: 10px;
  text-align: center;
}

::placeholder {
  color: var(--placeholder-color);
}

.eth {
  font-size: 1.5rem;
  font-weight: bold;
}

.estimated-sc {
  margin: 1rem 0;
}

.contribute-button {
  background-color: var(--background);
  border: 1px solid var(--text-color);
  border-radius: 20px;
  color: var(--text-color);
  font-weight: bold;
  font-size: 1.4rem;
  padding: 20px;
  margin-top: 20px;
}

.contribute-button:hover {
  cursor: pointer;
  background-color: var(--accent-color);
  border: var(--background);
  color: var(--background);
  transition: all 0.2s;
}
